* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #c1c1c1;
  height: 100%;
  min-height: 100vh;
  position: relative;
}

.logo {
  width: 40px;
  padding: 5px 0px;
}

.nav-item {
  font-weight: 500;
  text-decoration: none;
  font-size: 1.8rem;
  color: #000000;
}

.nav-item:hover {
  text-decoration: underline;
}

li:hover {
  transform: scale(1.1);
}

nav {
  background-color: #b8860b;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.nav-item {
  padding: 5px;
}

ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
}

.heading {
  font-weight: 700;
  font-size: 3rem;
  padding-bottom: 30px;
}

.subheading {
  font-weight: 700;
  font-size: 2rem;
  padding-bottom: 20px;
}

.container {
  width: 80%;
  max-height: 60%;
  overflow-y: scroll;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.container::-webkit-scrollbar {
  display: none;
}
.reverse {
  flex-direction: row-reverse;
}

.text-container {
  font-weight: 400;
  width: 50%;
}

.text-container p:not(:last-child) {
  padding-bottom: 20px;
}

.text-container p {
  font-size: 1.5rem;
}

.images-container {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.images-container img {
  width: 100%;
}

footer {
  background-color: #535353;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.8);
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

footer p {
  padding: 20px;
  font-size: 1.5rem;
}

footer a {
  color: #d29909;
  text-decoration: none;
}

footer a:visited {
  color: #f26005a3;
}

.background-container {
  background-image: linear-gradient(#f7e018, #f26005);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.active {
  border: 2px solid black;
}

/* Responsive styles */
@media (max-width: 1000px) {
  .container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    gap: 20px;
    text-align: center;
  }
  .text-container {
    width: 100%;
  }
  .images-container {
    width: 80%;
  }
}

@media (max-width: 600px) {
  ul {
    flex-direction: column;
    gap: 10px;
    padding: 20px 0;
  }
  ul li:nth-child(3) {
    order: -2;
  }
  .container {
    margin-top: 70px;
    max-height: 45%;
  }
}
